.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}



.annee{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: blue;
}

.activite{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
.bandeau {
    background-color:floralwhite;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 5px 10px; 
    padding-left: 20px;  
    margin: 0;              
    width: 100%;    
    box-sizing: border-box;    
    border-radius: 10px;       
}

.photo-profil{
    height: 270px;
    width: 130px;
    object-fit: cover;
    border-radius: 10%;
    margin: 5px;
}

.contenu {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 40px; 
    margin: 40px 60px; 
}


.gauche {
    background-color:azure;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}


.droite {
    background-color:cornflowerblue;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}


.annee2 {
    margin-top: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    font-size: 20px;
    font-weight: bold;
}   

.etablissement {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}