.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}



.annee{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: blue;
}

.activite{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}
.bandeau {
    background-color:powderblue;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 5px 30px; 
    padding-left: 20px;  
    margin: 0;              
    width: 100%;    
    box-sizing: border-box;    
    border-radius: 10px;       
}

.photo-profil{
    height: 270px;
    width: 130px;
    object-fit: cover;
    border-radius: 10%;
    margin: 5px;
}
